<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<h2 th:text="'List Of Owners'">Owners</h2>

<table class="table table-striped">
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>

    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">id number</td>
        <td th:text="${owner.firstName}">john</td>
        <td th:text="${owner.lastName}">Wickd</td>
    </tr>
</table>

</body>
</html>